
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  width: 300px;
  padding: 30px 20px;
  text-align: center;
}

.image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.title h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.title p {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
  margin-bottom: 20px;
}

.text {
  font-size: 13px;
  color: hsl(0, 0%, 70%);
  margin-bottom: 20px;
}

.links button {
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.links button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 10%);
}

