
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0  ;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.cart {
    width: 300px;
    border-radius: 10px;
    background-color:hsl(0, 0%, 10%);
    padding: 20px;
}

.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 80px;
}

.text {
    margin-bottom: 20px;
    font-size: 12px;
    margin-left: 20px;
}

.titel {
    text-align: center;
    margin-bottom: 20px;
}

.titel h2 {
    margin-bottom: 20px;
}

.titel p {
    color: hsl(75, 94%, 57%);
}

.links button {
    background-color: hsl(0, 0%, 20%);
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0 ;
    border: none;
    border-radius: 5px;
    color: white;
}

